body {
    font-family: sans-serif;
}

.link-header{
    text-decoration: none;
    font-size: 20px;
    border: 3px solid darkslateblue;
    background-color: white;
    padding: 10px;
    color: darkmagenta;
    border-radius: 10px;
}

.link-header:hover{
    background-color: rgb(198, 198, 255);
    transition: linear 3s background-color;
}

body{
    justify-content: flex-end;
    background-image: linear-gradient(darkslateblue,darkmagenta, palegreen, cyan);
    color: lavenderblush;
}

.link-nav{
    background-color: bisque;
}
